/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {             /* Use a more-intuitive box-sizing model. */
  box-sizing: border-box;
}

* {                                  /* Remove default margin */
  margin: 0;
}

html, body {                         /* Allow percentage-based heights in the application */
  height: 100%;
}

body {                               /* Add accessible line-height, improve text rendering */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {   /* Improve media defaults */
  display: block;
  max-width: 100%;
}

input, button, textarea, select {   /* Remove built-in form typography styles */
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {         /* Avoid text overflows */
  overflow-wrap: break-word;
}

#root, #__next {                    /* Create a root stacking context */
  isolation: isolate;
}

