---
layout: default
title: 'Lasz :: project[]'
---

<h2>Projects</h2>
{% include cards.html collection=site.projects%}

<h2>Posts</h2>
{% for article in paginator.posts %}
    <span class="article-item">
        <span class="mobile-hide"> {{ article.date | date: '%Y-%m-%d' }} >> </span>
        <a href="{{ article.url }}">{{ article.title }}</a>
        <span class="float-right mobile-hide">{{ article.categories }}</span>
    </span>
{% endfor %}

<div class="article-nav">
    {% if paginator.total_pages > 1 %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&lt;- Older</a>
        {% endif %}
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer -&gt;</a>
        {% endif %}
    {% endif %}
</div>
